body {
  margin: 0;

  header {
    height: 15vh;
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main {
    height: 80vh;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  footer {
    height: 30vh;
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: space-evenly;
  }
}
